[workspace]
members = ["skilllite", "crates/*", "crates/skilllite-assistant/src-tauri"]
exclude = ["crates/skilllite-assistant", "crates/crates"]
resolver = "2"

[profile.release]
lto = true
strip = true
opt-level = "z"
